<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "edu.uab.business.studentapp"
        versionCode = "1"
        version     = "0.0.1" >
    
    <!-- versionCode is optional and Android only -->
    <name>Assignment 5</name>
    <description>        Module 5 Assignment    </description>
    <author>        Akilah Fincher     </author>
    <preference name="phonegap-version" value="cli-6.5.0" />
    
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    
    <plugin name="cordova-plugin-splashscreen" source="npm"/>
    <platform name="android">
        <splash src="splash.png"/>
        
        <preference name="SplashScreenDelay" value="3" />
        <icon src="icon.png"/>
        <icon src="MDPI.png" qualifier="mdpi" />
        <icon src="HDPI.png" qualifier="hdpi" />
        <icon src="XHDPI.png" qualifier="xhdpi" />
        <icon src="XXHDPI.png" qualifier="xxhdpi" />
        <icon src="XXXHDPI.png" qualifier="xxxhdpi" />
    </platform>
    
    <plugin name="cordova-plugin-geolocation" source="npm"/>
    
    
    

</widget>
