<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "edu.uab.business.studentapp"
        versionCode = "1"
        version     = "0.0.1" >
    
    <!-- versionCode is optional and Android only -->
    <name>Assignment 5</name>
    <description>        Module 5 Assignment    </description>
    <author>        Akilah Fincher     </author>
    <preference name="phonegap-version" value="cli-6.5.0" />
    
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    
    <plugin name="cordova-plugin-splashscreen" source="npm"/>
    <splash src="splash.png" platform="android"/>
        <preference name="SplashScreen" value="screen"/>
        <preference name="SplashScreenDelay" value="3" />
        <preference name="SplashMaintainAspectRatio" value="true"/>
        <preference name="AutoHideSplashScreen" value="false"/>
        <preference name="SplashShowOnlyFirstTime" value="false"/>
        
        <!--iPhone 6 / 6+ -->
        <icon src="icon-60@3x.png" platform="ios" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="icon-60.png" platform="ios" width="60" height="60" />
        <icon src="icon-60@2x.png" platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="icon-76.png" platform="ios" width="76" height="76" />
        <icon src="icon-76@2x.png" platform="ios" width="152" height="152" />
        

        <!-- Settings Icon -->
        <icon src="icon-small.png" platform="ios" width="29" height="29" />
        <icon src="icon-small@2x.png" platform="ios" width="58" height="58" />
        <icon src="icon-small@3x.png" platform="ios" width="87" height="87" />

        <!-- Spotlight Icon -->
        <icon src="icon-40.png" platform="ios" width="40" height="40" />
        <icon src="icon-40@2x.png" platform="ios" width="80" height="80" />
        <icon src="icon-40@3x.png" platform="ios" width="120" height="120" />
        
        
        <icon src="icon.png" platform="android" />
        <icon src="LDPI.png" platform="android" qualifier="ldpi" />
        <icon src="MDPI.png" platform="android" qualifier="mdpi" />
        <icon src="HDPI.png" platform="android" qualifier="hdpi" />
        <icon src="XHDPI.png" platform="android" qualifier="xhdpi" />
        <icon src="XXHDPI.png" platform="android" qualifier="xxhdpi" />
        <icon src="XXXHDPI.png" platform="android" qualifier="xxxhdpi" />
        <splash src="sldpi.png" platform="android" qualifier="ldpi" />
        <splash src="smdpi.png" platform="android" qualifier="mdpi" />   
        <splash src="shdpi.png" platform="android" qualifier="hdpi" />
        <splash src="sxhdpi.png" platform="android" qualifier="xhdpi" />
        <splash src="sportrait-xxhdpi.png" platform="android" qualifier="port-xxhdpi" />      
        
    <plugin name="cordova-plugin-geolocation" source="npm"/>

</widget>
